/* Set the background image to computer.png and adjust its size to cover the entire body */
body {
    background-image: url("computer.png");
    background-size: auto;
    /* background-repeat: no-repeat, repeat; */
    font-family:cursive;
    font-weight: bold;
    text-align: center;
    
}

/* Style for the main heading */
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: bisque;
}

/* Style for the subheading */
h2 {
    font-optical-sizing: 50px;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
    color: aquamarine;
}

/* Style for the paragraph text */
p{
    margin-top: 80px;
    font-optical-sizing: 50px;
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(205, 245, 6, 0.948);  
    
}

/* Style for the button */
button {
    border: none;
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Style for the increment button */
#increment-btn {
    background: rgb(255, 255, 255);
}

/* Style for the save button */
#save-btn {
    background: rgb(255, 255, 255);
}
